.bg-black {
    background-color: black;
}

.passengers-container .btn {
    background-color: black;
    border: none; 
    color: white
}

.corners {
    border-radius: 10px !important;
}

.input-email {
    width: auto;
}